@import url('https://fonts.googleapis.com/css?family=Lato');

.logo{
    width: 100px;

}

img {
    width: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #e6e6e6
}

main {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
}

article {
    position: relative;
    padding: 1em;
    border: 2px solid;
}

h2 {
    font-size: 20px;
}

.TypeOfWonder {
    margin-top: -20px;
}

.flag {
    padding: 5px;
    width: 50px;
    position: absolute;
    right: 65px;
    top: 35px
}

.price {
    padding: 5px;
    font-size: 20px;
    width: 25px;
    position: absolute;
    right: 30px;
    top: 30px;
}

.nature {
    padding: 5px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 45px;
    right: 130px;
}

.wonderimg{
    width: 100%;
}
